.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/A_OLD

# Ignore build time generated src/licenses.json
src/licenses.json
