.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock

# Ignore build time generated src/licenses.json
src/licenses.json
